SECRET_KEY=YOUR_SECRET_KEY
NAME=YOUR_DATABASE_NAME
USER=YOUR_DATABASE_USER
PASSWORD=YOUR_PASSWORD
HOST=YOUR_HOST
PORT=YOUR_PORT
STRIPE_PUBLIC_KEY=YOUR_STRIPE_PUBLIC_KEY
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY
CELERY_BROKER_URL = YOUR_CELERY_BROKER_URL
CELERY_RESULT_BACKEND = YOUR_CELERY_RESULT_BACKEND
CELERY_TIMEZONE = YOUR_TIMEZONE
CELERY_TASK_TRACK_STARTED = YOUR_CELERY_TASK_TRACK_STARTED_STATE(True or False)
CELERY_TASK_TIME_LIMIT = YOUR_TIME_LIMIT